
    /* FILEPATH: /c:/Apache24/htdocs/PersonalWebsite/personalwebsite_styles.css */

    /* Header */
    header {
        background-color: #f2f2f2;
        padding: 20px;
    }

    header h1 {
        margin: 0;
    }

    nav ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    nav ul li {
        display: inline;
        margin-right: 10px;
        background-color: #f9f9f9; /* Add a background color to the list items */
    }

    nav ul li a {
        text-decoration: none;
        color: #333;
        /* display: block; */
        padding: 10px;
    }

    nav ul li:hover a {
        color: #ff0000; /* Change to the desired color */
    }

    nav ul li.current-page {
        background-color: #ccc; /* Change to the desired color for the current page */
        pointer-events: none; /* Disable clicking on the current page */
    }
    /* Sections */
    section {
        padding: 20px;
        margin-bottom: 20px;
        background-color: #f9f9f9;
    }

    section h2 {
        margin-top: 0;
    }

    /* Footer */
    footer {
        background-color: #333;
        color: #fff;
        padding: 20px;
        text-align: center;
    }
    .portrate {
        background-image: "Images\Portrate (linkedin).jpg";
        width: 100vw;
        border: 0px;
    }
    .socialmedia-icon {
        height: 5vh;
        width: 5vh;
        display: inline;
    }

    .socialmedia-icon:hover {
        transform: scale(1.2);
        transition: transform 0.3s ease;
    }

    .my-div {
        background-image: url("../PersonalWebsite/Images/Portrate (linkedin).jpg");
    }